
<!DOCTYPE html>
<html>
  <head>
    <title>Sample App</title>

     <% include partials/header_include_scripts %>
     <% include partials/header_include_styles %>

  </head>
  <body>

    <% include partials/header_navbar %>


    <div class="container-home">
        <div class="home-banner-left" >
            <div class="inner">
                <img src="/img/phone_full.png">
            </div>
        </div>
        <div class="home-banner-right">
            <div class="inner">
                <h1>Awesome app!</h1>
                <p>
                    It can be use in business.
                    Its a Twilio Phone app.
                    Because it can be used with your own Twilio account you don't need to pay in order to make calls (※ additional functionality is expected to get an extra fixed fee)
                </p>
            </div>
        </div>
    </div>

  </body>
</html>
