
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      </button>
      <a class="navbar-brand" href="/home">PCC Phone</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active" nav-home ><a  href="/home"  >Home</a> </li>
        <% if (logged_in ) { %>
          <li nav-twilio-account ><a href="/account" >Twilio account</a></li>
        <% } %>
      </ul>
      <form class="navbar-form navbar-right" >
        <% if (logged_in ) { %>
          <label><%= first_name %>  <%= last_name %></label>
          <a href="/logout" class="btn btn-default">Logout</a>
        <% } else { %>
          <a href="/signin" class="btn btn-default">Log in</a>
        <% } %>
      </form>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

